---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      Last-Modified:
      - Tue, 21 May 2013 20:00:16 GMT
      Etag:
      - '"2268fc642d2daf7ef400b588da20134b"'
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Link:
      - <https://api.github.com/repositories/8514/issues?page=2>; rel="next", <https://api.github.com/repositories/8514/issues?page=18>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/rails/rails/issues/10715","labels_url":"https://api.github.com/repos/rails/rails/issues/10715/labels{/name}","comments_url":"https://api.github.com/repos/rails/rails/issues/10715/comments","events_url":"https://api.github.com/repos/rails/rails/issues/10715/events","html_url":"https://github.com/rails/rails/issues/10715","id":14586452,"number":10715,"title":"name
        change active_record => base_klass","user":{"login":"neerajdotname","id":6399,"avatar_url":"https://secure.gravatar.com/avatar/934f858e451cf9b771996b2940cd696b?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"934f858e451cf9b771996b2940cd696b","url":"https://api.github.com/users/neerajdotname","html_url":"https://github.com/neerajdotname","followers_url":"https://api.github.com/users/neerajdotname/followers","following_url":"https://api.github.com/users/neerajdotname/following{/other_user}","gists_url":"https://api.github.com/users/neerajdotname/gists{/gist_id}","starred_url":"https://api.github.com/users/neerajdotname/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/neerajdotname/subscriptions","organizations_url":"https://api.github.com/users/neerajdotname/orgs","repos_url":"https://api.github.com/users/neerajdotname/repos","events_url":"https://api.github.com/users/neerajdotname/events{/privacy}","received_events_url":"https://api.github.com/users/neerajdotname/received_events","type":"User"},"labels":[],"state":"open","assignee":null,"milestone":null,"comments":0,"created_at":"2013-05-21T19:34:08Z","updated_at":"2013-05-21T19:34:08Z","closed_at":null,"pull_request":{"html_url":"https://github.com/rails/rails/pull/10715","diff_url":"https://github.com/rails/rails/pull/10715.diff","patch_url":"https://github.com/rails/rails/pull/10715.patch"},"body":"In
        Reflection instance active_record holds the information about\r\nthe base
        class.\r\n\r\nThe name `active_record` throws me off a little bit because
        the\r\nname suggests that it holds an instance of the model class. While\r\nit
        holds a model class itself.\r\n\r\nThis PR changes the name active_record
        => base_klass.\r\n\r\nAll the tests are passing.\r\n\r\n/cc @tenderlove  "},{"url":"https://api.g[...]
