---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<OWNER>/<REPO>/labels?color=FFFFFF&name=test
    body:
      encoding: UTF-8
      string: '{"name":"test","color":"FFFFFF"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      Location:
      - https://api.github.com/repos/<OWNER>/<REPO>/labels/test
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Etag:
      - '"b770f09e29b13b0c3a3be4ef42fea299"'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<OWNER>/<REPO>/labels/test","name":"test","color":"FFFFFF"}'
  recorded_at: Tue, 21 May 2013 20:03:37 GMT
- request:
    method: delete
    uri: https://api.github.com/repos/<OWNER>/<REPO>/labels/test
    body:
      encoding: UTF-8
      string: '{}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 204
      message: ''
    headers:
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 May 2013 20:03:38 GMT
recorded_with: VCR 2.5.0
