---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user?name=Richard%20Schneeman
    body:
      encoding: UTF-8
      string: '{"name":"<USER_NAME>"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - user, user:email, user:follow, site_admin
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Etag:
      - '"243fc7cb65e02236845095b8099718d0"'
    body:
      encoding: UTF-8
      string: '{"login":"<OWNER>","id":59744,"avatar_url":"https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"db953d125f5cc49756edb6149f1b813e","url":"https://api.github.com/users/<OWNER>","html_url":"https://github.com/<OWNER>","followers_url":"https://api.github.com/users/<OWNER>/followers","following_url":"https://api.github.com/users/<OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<OWNER>/orgs","repos_url":"https://api.github.com/users/<OWNER>/repos","events_url":"https://api.github.com/users/<OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<OWNER>/received_events","type":"User","name":"<USER_NAME>","company":"","blog":"<OWNER>.com","location":"Austin,
        Tx","email":"richard.schneeman+foo@gmail.com","hireable":false,"bio":"I write
        ruby code for Heroku, teach Rails classes at the University of Texas, and
        enjoy contributing to open source projects. If you find yourself at an austinonrails.org
        meeting you''ll likely find me in the crowd or giving a presentation.  Come
        say hi!","public_repos":77,"followers":273,"following":3,"created_at":"2009-03-03T16:11:07Z","updated_at":"2013-05-21T20:03:31Z","public_gists":63,"total_private_repos":7,"owned_private_repos":3,"disk_usage":37476,"collaborators":4,"plan":{"name":"micro","space":614400,"collaborators":1,"private_repos":5},"private_gists":109,"site_admin":false}'
  recorded_at: Tue, 21 May 2013 20:03:41 GMT
recorded_with: VCR 2.5.0
