---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/<OWNER>/<REPO>/issues?body=a%20gem%20called%20git_hub_bub&title=Testing
    body:
      encoding: UTF-8
      string: '{"title":"Testing","body":"a gem called git_hub_bub"}'
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 201
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Oauth-Scopes:
      - user, public_repo, repo, gist
      X-Accepted-Oauth-Scopes:
      - repo, public_repo
      Location:
      - https://api.github.com/repos/<OWNER>/<REPO>/issues/77
      X-Github-Media-Type:
      - github.beta; param=3.raw; format=json
      Etag:
      - '"2a91ea72c37e36e1f004aa8d1f1afe5c"'
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<OWNER>/<REPO>/issues/77","labels_url":"https://api.github.com/repos/<OWNER>/<REPO>/issues/77/labels{/name}","comments_url":"https://api.github.com/repos/<OWNER>/<REPO>/issues/77/comments","events_url":"https://api.github.com/repos/<OWNER>/<REPO>/issues/77/events","html_url":"https://github.com/<OWNER>/<REPO>/issues/77","id":14587924,"number":77,"title":"Testing","user":{"login":"<OWNER>","id":59744,"avatar_url":"https://secure.gravatar.com/avatar/db953d125f5cc49756edb6149f1b813e?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"db953d125f5cc49756edb6149f1b813e","url":"https://api.github.com/users/<OWNER>","html_url":"https://github.com/<OWNER>","followers_url":"https://api.github.com/users/<OWNER>/followers","following_url":"https://api.github.com/users/<OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<OWNER>/orgs","repos_url":"https://api.github.com/users/<OWNER>/repos","events_url":"https://api.github.com/users/<OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<OWNER>/received_events","type":"User"},"labels":[],"state":"open","assignee":null,"milestone":null,"comments":0,"created_at":"2013-05-21T20:03:31Z","updated_at":"2013-05-21T20:03:31Z","closed_at":null,"pull_request":{"html_url":null,"diff_url":null,"patch_url":null},"body":"a
        gem called git_hub_bub","closed_by":null}'
  recorded_at: Tue, 21 May 2013 20:03:42 GMT
recorded_with: VCR 2.5.0
